In [284]:
import preprocessing
from scipy.stats.mstats import winsorize
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

df = preprocessing.load_dataset("datasets/no1_train.csv")

In [285]:
df.columns

Index(['start_time', 'hydro', 'micro', 'thermal', 'wind', 'river', 'total',
       'y', 'sys_reg', 'flow'],
      dtype='object')

In [286]:
y = df["y"]
upper_quantile = y.quantile(0.995)
lower_quantile = y.quantile(0.005)
df[df["y"] < lower_quantile]

,start_time,hydro,micro,thermal,wind,river,total,y,sys_reg,flow
33870,2019-05-07 04:40:00,1918.217,304.270,22.1,128.213,0.0,2372.800,-812.904465,0.0,-1652.40
33871,2019-05-07 04:45:00,1918.217,304.270,22.1,128.213,0.0,2372.800,-833.724003,0.0,-1652.40
33872,2019-05-07 04:50:00,1918.217,304.270,22.1,128.213,0.0,2372.800,-878.969553,0.0,-1652.40
33873,2019-05-07 04:55:00,1918.217,304.270,22.1,128.213,0.0,2372.800,-815.469812,0.0,-1712.54
37636,2019-05-20 06:30:00,2419.110,296.407,19.6,33.554,0.0,2768.671,-834.465247,-25.0,-1015.70
...,...,...,...,...,...,...,...,...,...,...
209685,2021-01-06 15:55:00,2528.306,279.081,23.6,14.267,0.0,2845.254,-840.237565,-113.0,-4290.36
209686,2021-01-06 16:00:00,2532.779,279.241,23.6,13.823,0.0,2849.443,-857.741700,-113.0,-4246.26
209687,2021-01-06 16:05:00,2532.779,279.241,23.6,13.823,0.0,2849.443,-849.122947,-113.0,-4219.80
209688,2021-01-06 16:10:00,2532.779,279.241,23.6,13.823,0.0,2849.443,-822.669112,-113.0,-4219.80
222267,2021-02-19 08:25:00,2132.390,154.570,22.1,7.140,0.0,2316.200,-1094.298396,0.0,-4166.00

In [287]:
y = df["y"]
clipped = winsorize(y, limits=[0.005, 0.005])
df["y"] = np.array(clipped)
df[df["y"] < lower_quantile]

,start_time,hydro,micro,thermal,wind,river,total,y,sys_reg,flow
33870,2019-05-07 04:40:00,1918.217,304.270,22.1,128.213,0.0,2372.800,-802.506585,0.0,-1652.40
33871,2019-05-07 04:45:00,1918.217,304.270,22.1,128.213,0.0,2372.800,-802.506585,0.0,-1652.40
33872,2019-05-07 04:50:00,1918.217,304.270,22.1,128.213,0.0,2372.800,-802.506585,0.0,-1652.40
33873,2019-05-07 04:55:00,1918.217,304.270,22.1,128.213,0.0,2372.800,-802.506585,0.0,-1712.54
37636,2019-05-20 06:30:00,2419.110,296.407,19.6,33.554,0.0,2768.671,-802.506585,-25.0,-1015.70
...,...,...,...,...,...,...,...,...,...,...
209685,2021-01-06 15:55:00,2528.306,279.081,23.6,14.267,0.0,2845.254,-802.506585,-113.0,-4290.36
209686,2021-01-06 16:00:00,2532.779,279.241,23.6,13.823,0.0,2849.443,-802.506585,-113.0,-4246.26
209687,2021-01-06 16:05:00,2532.779,279.241,23.6,13.823,0.0,2849.443,-802.506585,-113.0,-4219.80
209688,2021-01-06 16:10:00,2532.779,279.241,23.6,13.823,0.0,2849.443,-802.506585,-113.0,-4219.80
222267,2021-02-19 08:25:00,2132.390,154.570,22.1,7.140,0.0,2316.200,-802.506585,0.0,-4166.00

In [288]:
df.columns

Index(['start_time', 'hydro', 'micro', 'thermal', 'wind', 'river', 'total',
       'y', 'sys_reg', 'flow'],
      dtype='object')

In [289]:
df2 = df[["hydro", "micro", "thermal", "wind", "river", "total", "y", "sys_reg", "flow"]]
df2

,hydro,micro,thermal,wind,river,total,y,sys_reg,flow
0,1591.839,141.928,11.5,74.428,0.0,1819.695,341.330021,10.0,-4417.4
1,1591.839,141.928,11.5,74.428,0.0,1819.695,330.114330,10.0,-4417.4
2,1591.839,141.928,11.5,74.428,0.0,1819.695,323.877221,10.0,-4417.4
3,1591.839,141.928,11.5,74.428,0.0,1819.695,296.438463,10.0,-4417.4
4,1591.839,141.928,11.5,74.428,0.0,1819.695,269.097132,10.0,-4417.4
...,...,...,...,...,...,...,...,...,...
225083,1942.486,191.881,20.1,106.431,0.0,2266.098,141.618915,0.0,-2252.9
225084,1942.486,191.881,20.1,106.431,0.0,2266.098,129.043820,0.0,-2252.9
225085,1942.486,191.881,20.1,106.431,0.0,2266.098,94.907548,0.0,-2252.9
225086,1942.486,191.881,20.1,106.431,0.0,2266.098,102.589040,0.0,-2252.9
225087,1942.486,191.881,20.1,106.431,0.0,2266.098,73.829019,0.0,-2252.9

In [290]:
scaler = MinMaxScaler()
scale_features = df[["hydro", "micro", "thermal", "wind", "river", "total", "y", "sys_reg", "flow"]]
df[["hydro", "micro", "thermal", "wind", "river", "total", "y", "sys_reg", "flow"]] = scaler.fit_transform(scale_features)
df

,start_time,hydro,micro,thermal,wind,river,total,y,sys_reg,flow
0,2019-01-09 14:10:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.449041,0.643625,0.179389
1,2019-01-09 14:15:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.444638,0.643625,0.179389
2,2019-01-09 14:20:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.442189,0.643625,0.179389
3,2019-01-09 14:25:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.431418,0.643625,0.179389
4,2019-01-09 14:30:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.420684,0.643625,0.179389
...,...,...,...,...,...,...,...,...,...,...
225083,2021-03-01 03:05:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.370639,0.635945,0.524902
225084,2021-03-01 03:10:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.365703,0.635945,0.524902
225085,2021-03-01 03:15:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.352302,0.635945,0.524902
225086,2021-03-01 03:20:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.355317,0.635945,0.524902
225087,2021-03-01 03:25:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.344027,0.635945,0.524902

In [291]:
date_time = pd.to_datetime(df["start_time"])
df["time_of_day_sin"] = np.sin(date_time.dt.hour * ((2 * np.pi) / 24))
df["time_of_day_cos"] = np.cos(date_time.dt.hour * ((2 * np.pi) / 24))

df["time_of_week_sin"] = np.sin(date_time.dt.day_of_week * ((2 * np.pi) / 7))
df["time_of_week_cos"] = np.cos(date_time.dt.day_of_week * ((2 * np.pi) / 7))

df["time_of_year_sin"] = np.sin(date_time.dt.month * ((2 * np.pi) / 12))
df["time_of_year_cos"] = np.cos(date_time.dt.month * ((2 * np.pi) / 12))

df

,start_time,hydro,micro,thermal,wind,river,total,y,sys_reg,flow,time_of_day_sin,time_of_day_cos,time_of_week_sin,time_of_week_cos,time_of_year_sin,time_of_year_cos
0,2019-01-09 14:10:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.449041,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01
1,2019-01-09 14:15:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.444638,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01
2,2019-01-09 14:20:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.442189,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01
3,2019-01-09 14:25:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.431418,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01
4,2019-01-09 14:30:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.420684,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225083,2021-03-01 03:05:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.370639,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17
225084,2021-03-01 03:10:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.365703,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17
225085,2021-03-01 03:15:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.352302,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17
225086,2021-03-01 03:20:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.355317,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17
225087,2021-03-01 03:25:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.344027,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17

In [292]:
date_time1 = pd.to_datetime("2021-03-01 03:25:00")
date_time2 = pd.to_datetime("2021-02-28 03:25:00")
one_day_timesteps = (1*24*60) // 5
df["y_24h"] = df["y"].shift(one_day_timesteps)
df[["start_time", "y", "y_24h"]]

df.loc[df["start_time"] == str(date_time1)][["start_time", "y", "y_24h"]]

                 start_time         y     y_24h
225087  2021-03-01 03:25:00  0.344027  0.336026

In [293]:
df["prev_y"] = df["y"].shift(1)
df

,start_time,hydro,micro,thermal,wind,river,total,y,sys_reg,flow,time_of_day_sin,time_of_day_cos,time_of_week_sin,time_of_week_cos,time_of_year_sin,time_of_year_cos,y_24h,prev_y
0,2019-01-09 14:10:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.449041,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01,NaN,NaN
1,2019-01-09 14:15:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.444638,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01,NaN,0.449041
2,2019-01-09 14:20:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.442189,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01,NaN,0.444638
3,2019-01-09 14:25:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.431418,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01,NaN,0.442189
4,2019-01-09 14:30:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.420684,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01,NaN,0.431418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225083,2021-03-01 03:05:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.370639,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17,0.337519,0.370407
225084,2021-03-01 03:10:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.365703,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17,0.344201,0.370639
225085,2021-03-01 03:15:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.352302,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17,0.341026,0.365703
225086,2021-03-01 03:20:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.355317,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17,0.340624,0.352302
225087,2021-03-01 03:25:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.344027,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17,0.336026,0.355317

In [294]:
df['start_time'] = pd.to_datetime(df['start_time'])
df = pd.merge_asof(
    df,
    df.resample('D', on="start_time")["y"].mean().shift(1),
    right_index=True,
    left_on="start_time",
)
df = df.rename(columns={"y_x": "y", "y_y": "y_yesterday"})
df

,start_time,hydro,micro,thermal,wind,river,total,y,sys_reg,flow,time_of_day_sin,time_of_day_cos,time_of_week_sin,time_of_week_cos,time_of_year_sin,time_of_year_cos,y_24h,prev_y,y_yesterday
0,2019-01-09 14:10:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.449041,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01,NaN,NaN,NaN
1,2019-01-09 14:15:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.444638,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01,NaN,0.449041,NaN
2,2019-01-09 14:20:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.442189,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01,NaN,0.444638,NaN
3,2019-01-09 14:25:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.431418,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01,NaN,0.442189,NaN
4,2019-01-09 14:30:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.420684,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01,NaN,0.431418,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225083,2021-03-01 03:05:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.370639,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17,0.337519,0.370407,0.41083
225084,2021-03-01 03:10:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.365703,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17,0.344201,0.370639,0.41083
225085,2021-03-01 03:15:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.352302,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17,0.341026,0.365703,0.41083
225086,2021-03-01 03:20:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.355317,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17,0.340624,0.352302,0.41083
225087,2021-03-01 03:25:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.344027,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17,0.336026,0.355317,0.41083

In [295]:
# Testing that y_yesterday is correct, by checking what the average was for 2021-02-28
mask = (df['start_time'] >= '2021-02-28') & (df['start_time'] < '2021-03-01')
a = df.loc[mask]
print(a["y"].mean())
df

0.41082950576389354

,start_time,hydro,micro,thermal,wind,river,total,y,sys_reg,flow,time_of_day_sin,time_of_day_cos,time_of_week_sin,time_of_week_cos,time_of_year_sin,time_of_year_cos,y_24h,prev_y,y_yesterday
0,2019-01-09 14:10:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.449041,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01,NaN,NaN,NaN
1,2019-01-09 14:15:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.444638,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01,NaN,0.449041,NaN
2,2019-01-09 14:20:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.442189,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01,NaN,0.444638,NaN
3,2019-01-09 14:25:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.431418,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01,NaN,0.442189,NaN
4,2019-01-09 14:30:00,0.392892,0.228922,0.447471,0.422886,0.0,0.387638,0.420684,0.643625,0.179389,-0.500000,-0.866025,0.974928,-0.222521,0.5,8.660254e-01,NaN,0.431418,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225083,2021-03-01 03:05:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.370639,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17,0.337519,0.370407,0.41083
225084,2021-03-01 03:10:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.365703,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17,0.344201,0.370639,0.41083
225085,2021-03-01 03:15:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.352302,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17,0.341026,0.365703,0.41083
225086,2021-03-01 03:20:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.355317,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17,0.340624,0.352302,0.41083
225087,2021-03-01 03:25:00,0.544551,0.414689,0.782101,0.604722,0.0,0.566039,0.344027,0.635945,0.524902,0.707107,0.707107,0.000000,1.000000,1.0,6.123234e-17,0.336026,0.355317,0.41083